.category-button{
    button{
      background-color: #8395b0;
      color: #362c15;
      padding: 10px 25px;
      width: 135px;
      border: 1px solid #141a23 ;
      border-radius: 4px;
      text-transform: capitalize;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      
  
    }
  }